.App {
  background-color: #E5B899;
  margin: 5px;
  /* text-align: center; */
}
.cover-poster-item{
  /* filter: blur(1px); */
  
}

#cover-poster-image{
  height: 470px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-section{
  background-color: #FFFFFF;
}

#title-text{
  color: #FF6D09;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.item-feature-image{
  height: 28rem;
}
.item-button-section{
  margin-left: 18px;
}